* {
    margin: 0;
    padding: 0;
}

a { 
	color: #000;
	text-decoration: none; 
	transition: all .4s;
}

.table {
    width: 100%;
    text-align: center;
}

.th {border-bottom: 1px solid #000;}

.td {
    padding: 10px;
    background-color: rgb(245, 245, 220);
}

.btn-sort {
    display: block;
    padding: 10px;
}

.btn-sort:hover {color: rgb(210, 64, 64);}

.btn-sort.active {color: rgb(210, 64, 64);}
.btn-sort.active:after {
    content: '\21C5';
    margin-left: 5px;
}
.controls {
    text-align: center;
    padding: 40px 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select {
    width: 150px;
    padding: 5px;

    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 4px;
    outline: none;
}

.dots {font-size: 1.5rem;}

.btn-control {
    margin: 0 5px;
    padding: 5px;

    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 4px;
}

.btn-control:hover {background: rgba(0, 0, 0, .1);}
.btn-control.current {background: rgba(0, 0, 0, .1);}
.btn-control.disabled {
    pointer-events: none;
    color: rgba(0, 0, 0, .1);
}